:root {
  --color-one: #f8eeed;
  --color-two: #f8eeb1;
  --color-three: #bfe886;
  --color-four: #1dc9b8;
  --color-five: #20b6d8;
}
* {
  user-select: none;
  box-sizing: border-box;
  font-family: "Yomogi", cursive;
}
body {
  padding: 1% 8%;
  background-color: var(--color-one);
}
